.login-page-container,
.signup-page-container {
  display: flex;
  flex-direction: row;
}

.side-banner {
  position: relative;
}

.login-content-container,
.signup-content-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.login-signup-button {
  height: 54px;
  width: 170px;
  box-shadow: 0 0 8px 0 rgb(0 0 0 / 20%);
  border-radius: 5px;
}
.login-signup-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.form-label {
  color: rgb(143, 143, 143);
  font-size: 14px;
  margin-top: 20px;
  margin-bottom: 10px;
}

.side-banner::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: linear-gradient(#3a8dff, #86b9ff);
  opacity: 0.85;
}

.side-banner-description {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  left: 77.71px;
  top: 199px;
  z-index: 1;
  color: white;
  font-size: 20px;
  width: 269px;
  height: 186px;
}

.side-banner-description span {
  line-height: 34px;
  margin-top: 50px;
}

.submit-button {
  margin: 40px auto;
  width: 160px;
  height: 56px;
  background-color: #3a8dff;
  color: white;
  font-size: 14px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.submit-button:hover {
  background-color: #529aff;
}

.signup-header,
.login-header {
  display: flex;
  margin-top: 30px;
  justify-content: flex-end;
  align-items: center;
  margin-right: 40px;
  font-size: 12px;
}
